<launch>
    <!-- Load the URDF into the robot_description parameter -->
    <param name="robot_description"
           command="$(find xacro)/xacro --inorder '$(find mobile_robot)/urdf/vitirover_gazebo2.urdf'" />

    <!-- Run the robot_state_publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- Launch RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mobile_robot)/rviz/your_rviz_config.rviz" />
</launch>
